* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: #222;
}
.app {
  background: #fff;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}
.app h1 {
  padding-bottom: 20px;
  font-size: 25px;
  color: #222;
  font-weight: 600;
  border-bottom: 1px solid #222;
}
.quiz {
  padding: 20px 0;
}
.quiz h2 {
  font-size: 18px;
  color: #222;
  font-weight: 600;
}
#btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

#btn:hover {
  background: #222;
  color: #fff;
}
#next-btn {
  color: #fff;
  background: #222;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 4px;
  display: none;
}
